.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body .p-button.submit-button {
    width: fit-content;
}
